<footer>
    <div class="row footer-main">
        <div class="col-six tab-full left footer-desc">
            <div class="footer-logo"></div>
            {{ footer.msg}}
        </div>

        <div class="col-six tab-full right footer-subscribe">
            <h4 lang="{{ lang }}">{{ footer.h }}</h4>
            <p lang="{{ lang }}">
                {{ footer.p }}
            </p>

            <div class="subscribe-form">
                <form id="mc-form" class="group" novalidate="true">
                    <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                        placeholder="{{ footer.email }}" aria-label="{{ footer.email }}" required="" />
                    <input type="submit" name="subscribe" value="{{ footer.sub }}" />
                    <label for="mc-email" class="subscribe-message"></label>
                </form>
            </div>
        </div>
    </div>
    <!-- end footer-main -->
</footer>
<!-- end footer -->