<header class="s-header">
    <div class="header-logo">
        <a class="site-logo" href="/{{ lang }}/">
            <img src="../assets/images/logo.png" alt="Homepage" />
        </a>
    </div>
    <div class="local">
        <a href="/sr">
            <img id="" src="../assets/images/serbia.png" alt="Srpski" />
            <span lang="sr">Srpski</span>
        </a>
        <a href="/en">
            <img id="" src="../assets/images/united-kingdom.png" alt="English" />
            <span lang="en">English</span>
        </a>
    </div>

    <nav class="header-nav">
        <a href="#0" class="header-nav__close" title="close"><span lang="{{ lang }}">{{ header.Close }}</span></a>

        <div class="header-nav__content">
            <h3 lang="{{ lang }}">{{ header.Navigation }}</h3>

            <ul class="header-nav__list">
                <li class="current">
                    <a class="smoothscroll" href="#home" title="home" lang="{{ lang }}">{{ header.Home }}</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#about" title="about" lang="{{ lang }}">{{ header.About }}</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#services" title="services" lang="{{ lang }}">{{ header.Services
                        }}</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#contact" title="contact" lang="{{ lang }}">{{ header.Contact }}</a>
                </li>
            </ul>

            <ul class="header-nav__social">
                <li>
                    <a href="https://www.facebook.com/code.halo888" alt="Facebook" aria-label="Facebook"><i
                            class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/code.halo/" alt="Instagram" aria-label="Instagram"><i
                            class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <!-- end header-nav__content -->
    </nav>
    <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-text" lang="{{ lang }}">{{ header.Menu }}</span>
        <span class="header-menu-icon"></span>
    </a>
</header>
<!-- end s-header -->